---
const { title = "Portfolio | Woldryk", description = "Portfolio personal de diseño y desarrollo web" } = Astro.props;
import Particles from "../components/Particles.jsx";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />
	<link rel="stylesheet" href="/src/styles/global.css" />
	<link rel="icon" type="image/png" href="/Logo.png" />
  </head>
  <body class="bg-[#0e0e10] text-gray-200 font-sans">
    <Particles client:load color="#a855f7" density={0.00012} speed={0.45} />
    <slot />
  </body>
</html>
